<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TaskMaster - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-primary text-white text-center py-5">
       <div class="home-container">
            <!-- Mensagem de boas-vindas -->
            <h1 th:text="'Bem-vindo, ' + ${nomeUsuario} + '!'">Bem-vindo, Usuário!</h1>
            <p>Gerencie suas tarefas e hábitos diários de forma eficiente.</p>
        </div>
      </header>
    <!-- Conteúdo Principal -->
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
            <div class="quick-actions">
                <h2>Ações Rápidas</h2>
                <a class="btn btn-primary" th:href="@{/tarefas}" role="button">Ver Tarefas</a>
                <a class="btn btn-primary" th:href="@{/tarefas/nova}" role="button">Nova Tarefa</a>
                <a class="btn btn-primary" th:href="@{/habitos}" role="button">Ver Hábitos</a>
                <a class="btn btn-primary" th:href="@{/habitos/novo}" role="button">Novo Hábito</a>
            </div>
        </div>
       </div>
    </div>
  </section>
  <div class="summary">
    <h2 class="ms-3">Resumo</h2>
    <div class="list-group list-group-flush ms-3" >
        <h3>Minhas Tarefas</h3>
        <ul>
            <li  th:each="tarefa : ${tarefasRecentes}" class="list-group-item">
                <span th:text="${tarefa.nome}">Nome da Tarefa</span> -
                <span th:text="${tarefa.status}">Status</span>
            </li>
        </ul> 
    </div>
       <div class="list-group list-group-flush ms-3">
            <h3>Hábitos Recentes</h3>
            <ul>
                <li th:each="habito : ${habitosRecentes}" class="list-group-item">
                    <span th:text="${habito.nome}">Nome do Hábito</span> -
                    <span th:text="${habito.progresso}">Progresso</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
