body {
    background-color: #f0f8ff;
}

input[type="text"],
input[type="datetime-local"],
textarea {
    transition: all 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="datetime-local"]:focus,
textarea:focus {
    border-color: #3EAAF3;
    box-shadow: 0 0 5px rgba(62, 170, 243, 0.5);
}

button[type="submit"] {
    transition: background-color 0.3s ease-in-out;
}
